*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: "SF Hello", "San Francisco", system-ui, -apple-system, Helvetica, sans-serif;
}

.page-home {
  background: #000 url("/static/images/polybg.png") no-repeat 0 0 fixed / cover;
}

.page-tour {
  background: #000 url("/static/images/grass.png") no-repeat 0 0 fixed / cover;
}

.dino {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 19vh;
}

.logo-wrapper {
  padding: 12px;
  max-width: 400px
}

.logo-wrapper > svg {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.cta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1em;
}

.cta a {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, .2);
  padding: 8px 12px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  height: 40px;
  /* -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out; */
}

.cta a:hover {
  background: #7B02FF;
  color: white;
}

.cta svg {
  height: 24px;
  width: 24px;
  fill: rgba(255, 255, 255, 0.5);
  margin-left: 12px;
  /* -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out; */
}

.cta a:hover svg {
  fill: black;
}

.cta a:active svg {
  fill: #1da1f2;
}

.dino-tour-life {
  width: 100%;
  height: 100%;
}

.dino-tour-title {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 20px;
  font-weight: 600;
}

.logo-top {
  margin-left: 0;
}

.logo-top img {
  border-style: none;
  width: 300px;
}
.dino-tour-title span {
  color: rgba(255, 255, 255, 0.8);
}

.dino-tour-title a {
  text-decoration: none;
  color: #00FFC2;
  font-weight: 600;
}

.dino-tour-title a:hover {
  text-decoration: none;
  color: #F3B3FF;
}

#tour-list {
  display: flex;
  flex-flow: row wrap;
  padding: 18px;
  font-size: 26px;
  margin: 0 auto;
  max-width: 770px;
}

.tour-item {
  padding: 8px;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  margin-bottom: 8px;
  width: 100%;
}

.tour-item:hover, .tour-item:active {
  background-color: rgba(0, 0, 0, 1);
}

.tour-li-date {
  color: #00FFC2;
  font-weight: 600;
  width: 40%;
}

.tour-li-venue {
  display: none;
  color: white;
}

.tour-li-place {
  color: #F3B3FF;
  font-weight: 600;
  width: 60%;
}
  #merch-list {
     display: flex;
  flex-flow: row wrap;
  padding: 18px;
  font-size: 26px;
  margin: 0 auto;
  max-width: 1410px;
  }
  
  .merch-item {
  padding: 20px 8px 8px 8px;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  margin: 10px 5px 10px 5px;
  width: 100%;
  }
  
  .merch-item:hover, .merch-item:active {
  background-color: rgba(0, 0, 0, 1);
}

    .merch-li-title {

  color: white;
  }
  
    .footer {
  padding: 50px 8px 50px 8px;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  margin: 10px 5px 10px 5px;
  width: 100%;
  }


/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



@media screen and (min-width: 767px) {
  .dino {
    justify-content: flex-end;
    padding-right: 7vw;
  }
  .logo-top img {
    border-style: none;
    width: 75%;
    min-width: 500px;
  }

  .logo-wrapper {
    max-width: none;
    padding: 12px 0;
  }
  .cta {
    font-size: 20px;
  }
  .cta a {
    margin-right: 12px;
  }

  #tour-list {
    font-size: 28px;
  }
  .tour-item {
    width: auto;
  }
  .tour-li-date {
    width: 150px;
  }
  .tour-li-venue {
    display: block;
    width: 310px;
  }
  .tour-li-place {
    width: auto;
  }
  #merch-list {
    font-size: 28px;
  }
  
  .merch-item {
    width: auto;
    height: auto;
  }
  
    .merch-li-title {
    display: block;
    width: 310px;
  }

  .dino-tour-title {
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 28px;
    font-weight: 600;
  }
  
  .page-tour {
  background: #000 url("images/grass.png") no-repeat 0 0 fixed / bottom left;
  width: 100%;
  }
}
