// Page Elements
body {
	background: url("/static/images/polybg.png") no-repeat left center fixed;
	background-size: cover;
}

.wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	.social-links {
		list-style: none;
		list-style-position: outside;
		display: flex;
		align-items: center;
		li {
			padding: 12px;
			marging: 12px;
		}
		svg {
			height: 24px;
			width: 24px;
			fill: rgba(255,255,255,0.5);
		}
	}
}

.subscribe {
	.button {
		background-color: rgba(255,255,255,0.5);
		border: none;
		border-radius: 2px;
		color: black;
		padding: 8px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 10px;
		margin: 4px 2px;
		cursor: pointer;
		font-family: "San Francisco", "helvetica", sans serif;
		font-weight: bold;
		letter-spacing: 0.1em;
	}
}

// Animation
.social-links {
	animation: links-enter 1250ms ease-out 500ms forwards;
	opacity: 0;
	a:hover {
		&.button {background-color: white;}
		svg {fill: rgba(255,255,255,1);}
	}
	.apple-music {
		svg {transition: fill 750ms ease-out;}
		a:active, a:focus {
			svg {fill:#EB3256;}
		}
	}
	.twitter {
		svg {transition: fill 750ms ease-out;}
		a:active, a:focus {
			svg {fill:#1da1f2;}
		}
	}
	.instagram {
		svg {transition: fill 750ms ease-out;}
		a:active, a:focus {
			svg {fill:#E4405f;}
		}
	}
	.youtube {
		svg {transition: fill 750ms ease-out;}
		a:active, a:focus {
			svg {fill:#ff0000;}
		}
	}
	.subscribe {
		.button {
			transition: background-color 750ms ease-out;
			&:active, &:focus {
				background-color:#5F5FFC;
				color: white;
			}
		}
	}
}

@keyframes links-enter {
	0% {
		opacity:0;}
	100% {
		opacity: 1;}
}
